/* form {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-self: center;
} */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 670px){
  .form-container {
    flex-direction: column;
  }
}