h1, h2 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
}

h2 {
  font-size: 2em;
}

h3 {
  margin: 5px;
}

body {
  margin: 0;
  font-family: 'Architects Daughter', 'Cedarville Cursive', 'Gaegu', 'Comforter Brush', 'Give You Glory',
    'Gloria Hallelujah', 'Homemade Apple', 'Indie Flower', 'Mr De Haviland', 'Reenie Beanie',
    cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6ebee;
}

button:hover {
  cursor: pointer;
}
/* 
--text: #0e0609; grey
--background: #f6ebee; light pink
--primary: #e4a29b; pastel orange
--secondary: #f6acc7; pink
--accent: #30a2af; teal 
*/ 

/* HANDWRITING FONTS FOR CARDS */
/* font-family: 'Architects Daughter', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Comforter Brush', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Reenie Beanie', cursive; */